@charset "UTF-8";

* {
	margin: .5em;
	display: inline-block;
	border: 1px solid #ddd;
	font-family: arial;
	background-color: black;
	color: goldenrod;
}

div {
	padding: 10px;
	max-width: 8em;
	text-overflow: elipsis;
}

.foobar {
	background-color: white;
	color: black;
}

.bloody {
	background-color: red;
	color: white;
}

.rolling-meadows {
	background-color: #88ef99;
	color: black;
}